<ActionBar class="action-bar">
	<NavigationButton ios:visibility="collapsed"></NavigationButton>
	<GridLayout class="ab-grid" columns="auto, *, auto" rows="auto">
        <Image row="0" col="0" class="ab-icon ab-left" (tap)="onBackTap()" src="res://img_headericons_back"></Image>
		<Label row="0" col="1" class="action-bar-title" text="Divine Mercy 101"></Label>
		<Image row="0" col="2" class="ab-icon ab-right" src="res://img_headericons_dm" stretch="aspectFit"></Image>
	</GridLayout>
</ActionBar>

<StackLayout class="page">
    <!-- <Label class="m-10 h3" text="Loading..." *ngIf="loading" @fadeInOut textAlignment="center"></Label> -->
    <GridLayout rows="*" columns="*" *ngIf="loadingSuccess" @fadeInOut>
        <ListView row="0" col="0" [items]="items">
            <ng-template let-item="item">
                <GridLayout columns="*" rows="*" class="tdm-article" (tap)="onTap(item)">
                    <Label row="0" col="0" class="tdm-article article-title" [text]="item.title" textWrap="true" whiteSpace="normal"></Label>
                    <!-- <Label row="1" col="0" colSpan="2" class="article-body m-10 h3" [text]="item.body" textWrap="true" whiteSpace="normal"></Label> -->
                </GridLayout>
            </ng-template>
        </ListView>
    </GridLayout>
    <Label class="m-10 h3" text="Couldn't load articles. Check your connection." *ngIf="loadingFail" @fadeInOut textAlignment="center" textWrap="true"></Label>
    <ActivityIndicator [busy]="loading" *ngIf="loading" @fadeInOut color="#961300"></ActivityIndicator>
</StackLayout>
