<DockLayout stretchLastChild="true">
    <StackLayout class="action-bar" dock="top">
        <GridLayout class="ab-grid" columns="auto, *, auto" rows="45px">
            <Image row="0" col="0" class="ab-icon ab-left" (tap)="onBackTap()" src="res://img_headericons_back"></Image>
            <Label row="0" col="1" class="action-bar-title" text="Schedule Novena"></Label>
            <Image row="0" col="2" class="ab-icon ab-right" src="res://img_headericons_dm" stretch="aspectFit"></Image>
        </GridLayout>
    </StackLayout>

    <GridLayout rows="50px, 200px, 100px, 50px, *" columns="*" class="page novena-schedule-page" dock="bottom">
        <Label row="0" text="Choose a date:" class="novena-schedule-label"></Label>
        <DatePicker row="1" (loaded)="handleDatePickerLoaded($event)" iosPreferredDatePickerStyle="1" minDate="today"
            (dateChange)="onDateChanged($event)" verticalAlignment="center">
        </DatePicker>
        <TimePicker row="2" (loaded)="handleDatePickerLoaded($event)" iosPreferredDatePickerStyle="1"
            (timeChange)="onTimeChanged($event)" verticalAlignment="center">
        </TimePicker>
        <GridLayout row="3" rows="*" columns="*, *">
            <Button col="0" text="Schedule Novena Notification" textWrap="true" class="novena-button"
                (tap)="scheduleNovena()" backgroundColor="#961300"></Button>
            <Button col="1" text="Cancel Notifications" textWrap="true" class="novena-button" (tap)="cancelNovena()"
                backgroundColor="#961300"></Button>
        </GridLayout>
        <Label row="4" class="novena-schedule-paragraph"
            text="Pick a date and time to receive the day 1 novena prayer reminder and select start to schedule the reminder notifications."
            textWrap="true"></Label>
        <!-- <Label row="2" (tap)="showDate()" text="show date..."></Label> -->
    </GridLayout>
</DockLayout>
