<ActionBar class="action-bar">
	<GridLayout class="ab-grid" columns="auto, *, auto" rows="auto">
		<Label row="0" col="1" class="action-bar-title" text="Marians"></Label>
		<Image row="0" col="2" class="ab-icon ab-right" src="res://banner_stan" stretch="aspectFit"></Image>
	</GridLayout>
</ActionBar>

<GridLayout class="page">
    <ListView [items]="items">
        <ng-template let-item="item">
            <StackLayout>
                <Label (tap)="onTap(item)" [text]="item.name"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
</GridLayout>
