<ActionBar class="action-bar">
	<NavigationButton ios:visibility="collapsed"></NavigationButton>
	<GridLayout class="ab-grid" columns="auto, *, auto" rows="auto">
        <Image row="0" col="0" class="ab-icon ab-left" (tap)="onBackTap()" src="res://img_header-icons_back"></Image>
		<Label row="0" col="1" class="action-bar-title" text="Divine Mercy Prayerbook"></Label>
		<Image row="0" col="2" class="ab-icon ab-right" src="res://img_header-icons_dm" stretch="aspectFit"></Image>
	</GridLayout>
</ActionBar>

<GridLayout class="page">
    <ListView [items]="resources">
        <ng-template let-item="item">
            <StackLayout>
                <Label class="resource-name" [text]=item.name></Label>
                <Label class="resource-subtitle" [text]=item.subtitle></Label>
                <Label class="resource-author" [text]=item.author></Label>
                <Label class="resource-image" [text]=item.image></Label>
                <Label class="resource-description" [text]=item.description></Label>
                <Label class="resource-link" [text]=item.link></Label>
            </StackLayout>
        </ng-template>
    </ListView>
</GridLayout>
