<DockLayout stretchLastChild="true">
    <StackLayout class="action-bar" dock="top">
        <GridLayout class="ab-grid" columns="auto, *, auto" rows="45px">
        <Image row="0" col="0" class="ab-icon ab-left" (tap)="onBackTap()" src="res://img_headericons_back"></Image>
		<Label row="0" col="1" class="action-bar-title" text="Timeline"></Label>
		<Image row="0" col="2" class="ab-icon ab-right" src="res://img_headericons_dm" stretch="aspectFit"></Image>
	</GridLayout>
    </StackLayout>

<GridLayout class="page" dock="bottom">
    <ScrollView>
		<StackLayout>
			<HtmlView class="m-10 h3" [html]="html" style="padding-bottom: 0; margin-bottom: 0;"></HtmlView>
			<HtmlView class="m-10 h3" [html]="html2" style="padding-top: 0; margin-top: 0;"></HtmlView>
		</StackLayout>
    </ScrollView>
</GridLayout>
