<ActionBar class="action-bar">
	<NavigationButton ios:visibility="collapsed"></NavigationButton>
	<GridLayout class="ab-grid" columns="auto, *, auto" rows="auto">
        <Image row="0" col="0" class="ab-icon ab-left" (tap)="onBackTap()" src="res://img_header-icons_back"></Image>
		<Label row="0" col="1" class="action-bar-title" text="Life of Faustina"></Label>
		<Image row="0" col="2" class="ab-icon ab-right" src="res://img_header-icons_dm" stretch="aspectFit"></Image>
	</GridLayout>
</ActionBar>

<StackLayout class="page">
    <Label text="From Farm to Convent: 1905-30" class="text-divider"></Label>
    <ListView [items]="itemsA">
        <ng-template let-item="item">
            <StackLayout>
                <Label [nsRouterLink]="['../faustina-life-long', item.id]" [text]="item.name"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
    <Label text="Devotions of Divine Mercy: 1930-38" class="text-divider"></Label>
    <ListView [items]="itemsB">
        <ng-template let-item="item">
            <StackLayout>
                <Label [nsRouterLink]="['../faustina-life-long', item.id]" [text]="item.name"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
</StackLayout>
