<ActionBar class="action-bar">
	<NavigationButton ios:visibility="collapsed"></NavigationButton>
	<GridLayout class="ab-grid" columns="auto, *, auto" rows="auto">
        <Image row="0" col="0" class="ab-icon ab-left" (tap)="onBackTap()" src="res://img_headericons_back"></Image>
		<Label row="0" col="1" class="action-bar-title" text="About this App"></Label>
		<Image row="0" col="2" class="ab-icon ab-right" src="res://img_headericons_dm" stretch="aspectFit"></Image>
	</GridLayout>
</ActionBar>

<GridLayout class="page">
    <ScrollView>
        <StackLayout>
                <Label class="m-10 h3" verticalAlignment="top" textWrap="true" [formattedText]="formattedBodyArray[0]"></Label>
                <Label class="m-10 h3" verticalAlignment="top" textWrap="true" [formattedText]="formattedBodyArray[1]"></Label>
                <Label class="m-10 h3 link" verticalAlignment="top" textWrap="true"
                    text="TheDivineMercy.org"
                    (tap)="openLink('https://www.thedivinemercy.org')">
                </Label>
                <Label class="m-10 h3" verticalAlignment="top" textWrap="true" [formattedText]="formattedBodyArray[2]"></Label>
                <Label class="m-10 h3 link" verticalAlignment="top" textWrap="true"
                    text="phone: (800) 462-7426,"
                    (tap)="callNumber('1-800-462-7426')">
                </Label>
                <Label class="m-10 h3 link" verticalAlignment="top" textWrap="true"
                    text="email: service@marian.org,"
                    (tap)="sendEmail('service@marian.org')">
                </Label>
                <Label class="m-10 h3" verticalAlignment="top" textWrap="true" [formattedText]="formattedBodyArray[3]"></Label>
                <Label class="m-10 h3 link" verticalAlignment="top" textWrap="true"
                    text="donate online: marian.org/donation"
                    (tap)="openLink(donationUrl)">
                </Label>
                <Label class="m-10 h3" verticalAlignment="top" textWrap="true" [formattedText]="formattedBodyArray[4]"></Label>
                <Label class="m-10 h3" verticalAlignment="top" textWrap="true" [formattedText]="formattedBodyArray[5]"></Label>
        </StackLayout>
    </ScrollView>
</GridLayout>
