<ActionBar class="action-bar">
	<NavigationButton ios:visibility="collapsed"></NavigationButton>
	<GridLayout class="ab-grid" columns="auto, *, auto" rows="auto">
        <Image row="0" col="0" class="ab-icon ab-left" (tap)="onBackTap()" src="res://img_headericons_back"></Image>
		<Label row="0" col="1" class="action-bar-title" text="Mother of Mercy Messengers"></Label>
		<Image row="0" col="2" class="ab-icon ab-right" src="res://img_headericons_dm" stretch="aspectFit"></Image>
	</GridLayout>
</ActionBar>

<GridLayout>
    <ScrollView>
        <StackLayout class="m-10 h3">
            <Image src="res://img_pageimages_apostolates_momm" stretch="aspectFit" style="margin-bottom: 30px; width: 50%;"></Image>
            <HtmlView [html]="html"></HtmlView>
        </StackLayout>
    </ScrollView>
</GridLayout>
