<ActionBar class="action-bar">
	<NavigationButton ios:visibility="collapsed"></NavigationButton>
	<GridLayout class="ab-grid" columns="auto, *, auto" rows="auto">
        <Image row="0" col="0" class="ab-icon ab-left" (tap)="onBackTap()" src="res://img_headericons_back"></Image>
		<Label row="0" col="1" class="action-bar-title" [text]="item.name"></Label>
		<Image row="0" col="2" class="ab-icon ab-right" src="res://img_headericons_dm" stretch="aspectFit"></Image>
	</GridLayout>
</ActionBar>

<ScrollView class="page">
	<!-- <Label class="m-10 h3" verticalAlignment="top" [formattedText]="formattedDescription" textWrap="true"></Label> -->
	<!-- <WebView class="m-10 h3" [src]="item.description"></WebView> -->
	<HtmlView class="m-10 h3" [html]="item.description"></HtmlView>
</ScrollView>
