<ActionBar class="action-bar">
	<NavigationButton ios:visibility="collapsed"></NavigationButton>
	<GridLayout class="ab-grid" columns="auto, *, auto" rows="auto">
        <Image row="0" col="0" class="ab-icon ab-left" (tap)="onBackTap()" src="res://img_header-icons_back"></Image>
		<Label row="0" col="1" class="action-bar-title" text="Volunteer"></Label>
		<Image row="0" col="2" class="ab-icon ab-right" src="res://img_header-icons_dm" stretch="aspectFit"></Image>
	</GridLayout>
</ActionBar>

<GridLayout>
    <ScrollView>
        <StackLayout class="page text-page">
            <Label class="m-10 h3" verticalAlignment="top" textWrap="true" [formattedText]="formattedBodyArray[0]"></Label>
        </StackLayout>
    </ScrollView>
</GridLayout>
