<ActionBar class="action-bar">
	<NavigationButton ios:visibility="collapsed"></NavigationButton>
	<GridLayout class="ab-grid" columns="auto, *, auto" rows="auto">
        <Image row="0" col="0" class="ab-icon ab-left" (tap)="onBackTap()" src="res://img_headericons_back"></Image>
		<Label row="0" col="1" class="action-bar-title" text="Chaplet of Divine Mercy"></Label>
		<Image row="0" col="2" class="ab-icon ab-right info" [nsRouterLink]="['../chaplet-info']" src="res://img_headericons_info_icon" stretch="aspectFit"></Image>
	</GridLayout>
</ActionBar>

<GridLayout
    rows="*"
    columns="*, 120"
    width="100%"
    height="100%"
    backgroundColor="#777">
    <GridLayout row="0" col="0"
        rows="auto, *, 100px"
        backgroundColor="white"
        class="chaplet-prayer-text">
        <Label
            row="0"
            [text]="chapletPrayer.name"
            textWrap="true"
            class="chaplet-prayer-title"
            *ngIf="!invisibleElements"
            @fadeInOut>
        </Label>
        <ScrollView row="1" verticalAlignment="top">
            <Label
                [formattedText]="chapletPrayerBody"
                textWrap="true"
                class="chaplet-prayer-body"
                *ngIf="!invisibleElements"
                @fadeInOut>
            </Label>
        </ScrollView>
        <GridLayout row="2" columns="*, auto, auto, auto, auto" rows="*" verticalAlignment="bottom">
            <Label col="1" text="Auto:" verticalAlignment="center" *ngIf="audioIsEnabled" @fadeInOut></Label>
            <Switch col="2" [checked]="autoIsEnabled" (checkedChange)="autoToggle($event)" *ngIf="audioIsEnabled" @fadeInOut></Switch>
            <Label col="3" text="Audio:" verticalAlignment="center"></Label>
            <Switch col="4" [checked]="audioIsEnabled" (checkedChange)="audioToggle($event)"></Switch>
        </GridLayout>
    </GridLayout>
    <AbsoluteLayout #beadBox
        row="0"
        col="1"
        width="100%"
        height="100%"
        (pan)="onBeadPan($event)"
        horizontalAlign="center"
        clipToBounds="true">
        <Image #beadGlow
            [top] = "BEAD_GLOW_TOP_START"
            src="res://img_chaplet_beadglow"
            stretch="aspectFit"
            width="90%"
            *ngIf="!invisibleElements"
            @fadeInOut>
        </Image>
        <Image #beads
            id="beads"
            [top]="BEAD_TOP_START"
            src="res://img_chaplet_beads"
            stretch="aspectFit"
            width="90%">
        </Image>
    </AbsoluteLayout>
</GridLayout>
