<BottomNavigation>
    <TabStrip class="navigation_tab_strip">
        <TabStripItem class="navigation__item">
            <Label text="The Message"></Label>
            <Image src="res://img/tab-icons/message_icon"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="The Devotion"></Label>
            <Image src="res://img/tab-icons/devotion_icon"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Mercy Plus"></Label>
            <Image src="res://img/tab-icons/mercyplus_icon"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Get Involved"></Label>
            <Image src="res://img/tab-icons/settings_icon"></Image>
        </TabStripItem>
    </TabStrip>

    <TabContentItem>
        <page-router-outlet name="messageTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="devotionTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="mercyPlusTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="getInvolvedTab"></page-router-outlet>
    </TabContentItem>
</BottomNavigation>
