<BottomNavigation>
    <TabStrip>
        <TabStripItem class="navigation__item">
            <Label text="The Message"></Label>
            <Image src="font://&#xf015;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="The Devotion"></Label>
            <Image src="font://&#xf1ea;" class="far t-36"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Mercy Plus"></Label>
            <Image src="font://&#xf002;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Get Involved"></Label>
            <Image src="font://&#xf002;" class="fas t-36"></Image>
        </TabStripItem>
    </TabStrip>

    <TabContentItem>
        <page-router-outlet name="messageTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="devotionTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="mercyPlusTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="getInvolvedTab"></page-router-outlet>
    </TabContentItem>
</BottomNavigation>
