<BottomNavigation #navigation (selectedIndexChanged)="onTabChanged($event)">
    <TabStrip class="navigation_tab_strip">
        <TabStripItem class="navigation__item">
            <Label text="The Message"></Label>
            <Image src="res://img_tabs_message"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="The Devotion"></Label>
            <Image src="res://img_tabs_devotion"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Mercy Plus"></Label>
            <Image src="res://img_tabs_mercyplus"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Get Involved"></Label>
            <Image src="res://img_tabs_settings"></Image>
        </TabStripItem>
    </TabStrip>

    <TabContentItem>
        <page-router-outlet name="messageTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="devotionTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="mercyPlusTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="getInvolvedTab"></page-router-outlet>
    </TabContentItem>
</BottomNavigation>
