// Import common styles
@import "app-common";

// Place any CSS rules you want to apply only on Android here
ActionBar {
    margin-left: -25px;
    height: 40;

    .ab-grid {
        .ab-icon {
            max-height: 100%;
            width: 12%;
        }

        .action-bar-title {
            margin-top: -5;
            font-size: 30;
        }
    }

}
