<DockLayout stretchLastChild="true">
    <StackLayout class="action-bar" dock="top">
        <GridLayout class="ab-grid" columns="auto, *, auto" rows="45px">
		<Image row="0" col="0" class="ab-icon ab-left" src="res://img_headericons_coa" stretch="aspectFit"></Image>
		<Label row="0" col="1" class="action-bar-title" text="The Devotion"></Label>
		<Image row="0" col="2" class="ab-icon ab-right" src="res://img_headericons_dm" stretch="aspectFit"></Image>
	</GridLayout>
    </StackLayout>

<DockLayout stretchLastChild="true">
	<FlexBoxLayout dock="top" flexDirection="row" class="page page-content big-icon-box">
		<StackLayout class="big-icon" [nsRouterLink]="['../chaplet']">
			<Image src="res://img_largeicons_devotion_chaplet" stretch="aspectFit" class="big-icon-image"></Image>
			<Label text="Chaplet" textWrap="true" class="big-icon-label"></Label>
		</StackLayout>
		<StackLayout class="big-icon" [nsRouterLink]="['../image']">
			<Image src="res://img_largeicons_devotion_image" stretch="aspectFit" class="big-icon-image"></Image>
			<Label text="The Image" textWrap="true" class="big-icon-label"></Label>
		</StackLayout>
		<StackLayout class="big-icon" [nsRouterLink]="['../hour']">
			<Image src="res://img_largeicons_devotion_three" stretch="aspectFit" class="big-icon-image circle"></Image>
			<Label text="3 O'Clock Hour" textWrap="true" class="big-icon-label"></Label>
		</StackLayout>
		<StackLayout class="big-icon" [nsRouterLink]="['../feast']">
			<Image src="res://img_largeicons_devotion_feast" stretch="aspectFit" class="big-icon-image"></Image>
			<Label text="Feast of Mercy" textWrap="true" class="big-icon-label"></Label>
		</StackLayout>
		<StackLayout class="big-icon" [nsRouterLink]="['../stations']">
			<Image src="res://img_largeicons_devotion_stations" stretch="aspectFit" class="big-icon-image"></Image>
			<Label text="Way of the Cross" textWrap="true" class="big-icon-label"></Label>
		</StackLayout>
		<StackLayout class="big-icon" [nsRouterLink]="['../novena-prayers']">
			<Image src="res://img_largeicons_devotion_prayers" stretch="aspectFit" class="big-icon-image"></Image>
			<Label text="Novena & Prayers" textWrap="true" class="big-icon-label"></Label>
		</StackLayout>
	</FlexBoxLayout>
</DockLayout>
