<ActionBar class="action-bar">
	<NavigationButton ios:visibility="collapsed"></NavigationButton>
	<GridLayout class="ab-grid" columns="auto, *, auto" rows="auto">
		<Image row="0" col="0" class="ab-icon ab-left" src="res://banner_coa" stretch="aspectFit"></Image>
		<Label row="0" col="1" class="action-bar-title" text="The Devotion"></Label>
		<Image row="0" col="2" class="ab-icon ab-right" src="res://banner_stan" stretch="aspectFit"></Image>
	</GridLayout>
</ActionBar>

<DockLayout stretchLastChild="true">
	<FlexBoxLayout dock="top" flexDirection="row" class="page page-content big-icon-box">
		<StackLayout class="big-icon" [nsRouterLink]="['../patron-saint']">
			<Image src="{{getBigIconSource('devotion_patron_saint')}}" stretch="aspectFit" class="big-icon-image"></Image>
			<Label text="Chaplet" textWrap="true" class="big-icon-label"></Label>
		</StackLayout>
		<StackLayout class="big-icon" [nsRouterLink]="['../graces-received']">
			<Image src="{{getBigIconSource('devotion_graces')}}" stretch="aspectFit" class="big-icon-image"></Image>
			<Label text="The Image" textWrap="true" class="big-icon-label"></Label>
		</StackLayout>
		<StackLayout class="big-icon" [nsRouterLink]="['../canonization-miracle']">
			<Image src="{{getBigIconSource('devotion_canonization')}}" stretch="aspectFit" class="big-icon-image circle"></Image>
			<Label text="3 O'Clock Hour" textWrap="true" class="big-icon-label"></Label>
		</StackLayout>
		<StackLayout class="big-icon" [nsRouterLink]="['../beatification-miracle']">
			<Image src="{{getBigIconSource('devotion_beatification')}}" stretch="aspectFit" class="big-icon-image"></Image>
			<Label text="Feast of Mercy" textWrap="true" class="big-icon-label"></Label>
		</StackLayout>
		<StackLayout class="big-icon" [nsRouterLink]="['../prayers']">
			<Image src="{{getBigIconSource('devotion_chaplet')}}" stretch="aspectFit" class="big-icon-image"></Image>
			<Label text="Way of the Cross" textWrap="true" class="big-icon-label"></Label>
		</StackLayout>
		<StackLayout class="big-icon" [nsRouterLink]="['../novena']">
			<Image src="{{getBigIconSource('devotion_novena')}}" stretch="aspectFit" class="big-icon-image"></Image>
			<Label text="Novena & Prayers" textWrap="true" class="big-icon-label"></Label>
		</StackLayout>
	</FlexBoxLayout>
</DockLayout>
