<ActionBar class="action-bar">
	<NavigationButton ios:visibility="collapsed"></NavigationButton>
	<GridLayout class="ab-grid" columns="auto, *, auto" rows="auto">
        <Image row="0" col="0" class="ab-icon ab-left" (tap)="onBackTap()" src="res://img/header-icons/nav-bar-back"></Image>
		<Label row="0" col="1" class="action-bar-title" text="Novena Prayers"></Label>
		<Image row="0" col="2" class="ab-icon ab-right" src="res://img/header-icons/nav-bar-dm" stretch="aspectFit"></Image>
	</GridLayout>
</ActionBar>

<GridLayout class="page">
    <ListView [items]="items">
        <ng-template let-item="item">
            <StackLayout>
                <Label (tap)="onTap(item)" [text]="item.name"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
</GridLayout>
