<DockLayout stretchLastChild="true">
	<StackLayout class="action-bar" dock="top">
		<GridLayout class="ab-grid" columns="auto, *, auto" rows="45px">
			<Image row="0" col="0" class="ab-icon ab-left" src="res://img_headericons_coa" stretch="aspectFit"></Image>
			<Label row="0" col="1" class="action-bar-title" text="Get Involved"></Label>
			<Image row="0" col="2" class="ab-icon ab-right info" [nsRouterLink]="['../about']"
				src="res://img_headericons_info_icon" stretch="aspectFit"></Image>
		</GridLayout>
	</StackLayout>

	<FlexBoxLayout dock="bottom" flexDirection="row" class="page page-content big-icon-box">
		<StackLayout class="big-icon button" (tap)="openMaryAppLink()">
			<Image src="res://img_pageimages_getinvolved_mary" stretch="aspectFit" class="big-icon-button"></Image>
		</StackLayout>
		<StackLayout class="big-icon button" (tap)="openLink('https://www.thedivinemercy.org')">
			<Image src="res://img_pageimages_getinvolved_tdm" stretch="aspectFit" class="big-icon-button"></Image>
		</StackLayout>
		<StackLayout class="big-icon button" (tap)="openLink('https://www.divinemercyart.org')">
			<Image src="res://img_pageimages_getinvolved_dmart" stretch="aspectFit" class="big-icon-button"></Image>
		</StackLayout>
		<StackLayout class="big-icon button" (tap)="openLink('https://www.divinemercymatters.org')">
			<Image src="res://img_pageimages_getinvolved_dmm" stretch="aspectFit" class="big-icon-button"></Image>
		</StackLayout>
		<StackLayout class="big-icon button" (tap)="openLink('https://www.facebook.com/DivineMercyOfficial')">
			<Image src="res://img_pageimages_getinvolved_fb" stretch="aspectFit" class="big-icon-button"></Image>
		</StackLayout>
		<StackLayout class="big-icon button" (tap)="openLink('https://www.youtube.com/user/MarianHelpers')">
			<Image src="res://img_pageimages_getinvolved_yt" stretch="aspectFit" class="big-icon-button"></Image>
		</StackLayout>
		<StackLayout class="big-icon button" (tap)="openLink('https://www.allheartsafire.org')">
			<Image src="res://img_pageimages_getinvolved_happ" stretch="aspectFit" class="big-icon-button"></Image>
		</StackLayout>
		<!-- <StackLayout class="big-icon button" (tap)="openLink('https://www.marianmissionaries.org')">
			<Image src="res://img_pageimages_getinvolved_mmdm" stretch="aspectFit" class="big-icon-button"></Image>
		</StackLayout> -->
	</FlexBoxLayout>
</DockLayout>
