<ActionBar class="action-bar">
	<NavigationButton ios:visibility="collapsed"></NavigationButton>
	<GridLayout class="ab-grid top" columns="auto, *, auto" rows="auto">
		<Label row="0" col="0" class="ab-link ab-left" text="About" [nsRouterLink]="['../about']"></Label>
		<Label row="0" col="1" class="action-bar-title" text="Get Involved"></Label>
		<Image row="0" col="2" class="ab-icon ab-right" src="res://img/header-icons/nav-bar-dm" stretch="aspectFit"></Image>
	</GridLayout>
</ActionBar>

<DockLayout stretchLastChild="true">
	<FlexBoxLayout dock="top" flexDirection="row" class="page page-content big-icon-box">
		<StackLayout class="big-icon button" (tap)="openMaryAppLink()">
			<Image src="res://img/page-images/get-involved/mary_button" stretch="aspectFit" class="big-icon-button"></Image>
		</StackLayout>
		<StackLayout class="big-icon button" (tap)="openLink('https://www.thedivinemercy.org')">
			<Image src="res://img/page-images/get-involved/tdm_button" stretch="aspectFit" class="big-icon-button"></Image>
		</StackLayout>
		<StackLayout class="big-icon button" (tap)="openLink('https://www.divinemercyart.org')">
			<Image src="res://img/page-images/get-involved/dmart_button" stretch="aspectFit" class="big-icon-button"></Image>
		</StackLayout>
		<StackLayout class="big-icon button" (tap)="openLink('https://www.divinemercymatters.org')">
			<Image src="res://img/page-images/get-involved/dmm_button" stretch="aspectFit" class="big-icon-button"></Image>
		</StackLayout>
		<StackLayout class="big-icon button" (tap)="openLink('https://www.allheartsafire.org')">
			<Image src="res://img/page-images/get-involved/happ_button" stretch="aspectFit" class="big-icon-button"></Image>
		</StackLayout>
		<StackLayout class="big-icon button" (tap)="openLink('https://www.marianmissionaries.org')">
			<Image src="res://img/page-images/get-involved/mmdm_button" stretch="aspectFit" class="big-icon-button"></Image>
		</StackLayout>
		<StackLayout class="big-icon button" (tap)="openLink('https://www.facebook.com/DivineMercyOfficial')">
			<Image src="res://img/page-images/get-involved/fb_button" stretch="aspectFit" class="big-icon-button"></Image>
		</StackLayout>
		<StackLayout class="big-icon button" (tap)="openLink('https://www.youtube.com/user/MarianHelpers')">
			<Image src="res://img/page-images/get-involved/yt_button" stretch="aspectFit" class="big-icon-button"></Image>
		</StackLayout>
	</FlexBoxLayout>
</DockLayout>
